*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active{
    color: #088178;
}

#navbar li a.active::after, #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* ... Home page ... */
#hero{
    background-image: url(/ASSETS/hero4.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url(/ASSETS/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
}

.section-p1{
    padding: 40px 80px;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
    border: 1px solid #cce7de;
    border-radius: 4px;
    margin: 15px 0;
}

#features .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#features .fe-box img{
    width: 100%;
    bottom: 10px;
}

#features .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
}

#features .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
#features .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
#features .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#features .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
#features .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}